@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
*,*::before,*::after {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: 'Share Tech Mono', monospace;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::after {
  content: '';
  background-color: black;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

h1 { position: absolute;top: 2em; right: 2em; color: #fff; }
.jquery-script-ads { position: absolute;top: 6em; right: 2em;  }
.navigation {
  border: 1px solid rgba(255,255,255,0.1);
  height: 100%;
  width: 320px;
  background-color: rgba(255,255,255,0.1);
  color: #fff;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: calc(100% - 320px);
  transition: right 0.5s;
}
.navigation .toggle-wrapper {
  border: 1px solid rgba(255,255,255,0.1);
  border-left: none;
  height: 52px;
  width: 51px;
  background-color: rgba(255,255,255,0.1);
  overflow: hidden;
  position: absolute;
  top: -1px;
  right: calc(0px - 52px);
}
.navigation .toggle-wrapper span {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  transition: right 0.25s;
}
textarea {color: white;}
.navigation .toggle-wrapper .show {
  right: -50px;
}
.navigation .heading {
  padding: 15px;
  height: 51px;
  border-bottom: 1px solid rgba(255,255,255,.1);
  line-height: 20px;
}
.navigation .menu {
  list-style-type: none;
}
.navigation .menu li {
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navigation .menu a {
  display: block;
  padding: 15px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  z-index: 0;
}
.navigation .menu a::after {
  content: '';
  background-color: rgba(255,255,255,0.1);
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  transition: left 0.25s, right 0.25s;
}
.navigation .menu a:hover::after {
  right: 0;
}
.navigation .has-menu {
  position: relative;
}
.navigation .has-menu::before {
  content: '';
  border-left: 1px solid rgba(255,255,255,0.1);
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.navigation .has-menu::after {
  content: '\027A4';
  padding: 15px 0;
  height: 50px;
  width: 50px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  transform: rotate(90deg);
  transition: transform 0.25s;
}
.navigation .has-menu > .menu {
  overflow: hidden;
  max-height: auto;
}
.navigation .menu .menu {
  border-top: 1px solid rgba(255,255,255,0.1);
}
.navigation .has-menu > .menu > li > a {
  padding-left: 45px;
  transition: padding 1s;
}
.navigation .has-menu > .menu > li:last-child {
  border-bottom: none;
}
/* Closed States */
.navigation:not(.open) {
  right: 100%;
}
.navigation:not(.open) .toggle-wrapper .show {
  right: 0px;
}
.navigation:not(.open) .toggle-wrapper .hide {
  right: 50px;
}
.navigation .has-menu:not(.open)::after {
  transform: rotate(-90deg);
}
.navigation .has-menu:not(.open) > .menu {
  border-top: none;
  max-height: 0;
}
.navigation .has-menu:not(.open) > .menu > li > a {
  padding-left: 15px;
}


.switch {

  position: relative;

  display: inline-block;

  width: 60px;

  height: 34px; 

};



/*스위치바탕 ie에서 테두리생김방지*/

.switch input {display:none;}



.slider {

  position: absolute;

  cursor: pointer;

  top: 0;

  left: 0;

  right: 0;

  bottom: 0;

  background: #ccc;

  transition:.4s;   /*4초동안전환효과*/

}



/*스위치버튼 안쪽에 동그란모양*/

.slider:before {

  position: absolute;

  content: "";

  height: 26px;

  width: 26px;

  left: 4px;

  bottom: 4px;

  background: white;

  transition: .4s;   /*4초동안전환효과*/

}



/*체크된(on된)스위치바탕*/

input:checked + .slider {

  background:black;

}



/*스위치버튼을 클릭하면 버튼주위에 글로우효과*/

input:focus + .slider {

  box-shadow: 0 0 3px #2196F3;

}



/*스위치버튼을 클릭하면 우측으로 26px이동*/

input:checked + .slider:before {

  transform: translateX(26px);

}



/*Rounded sliders*/

.slider.round {

  border-radius: 34px;

}



/*스위치버튼 안쪽에 동그란모양*/

.slider.round:before {

  border-radius: 50%;

}









